*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav h1{
    font-size: 2rem;
    
}
section{
    background: rgb(235, 241, 243);
    /* padding: 15px 9%; */
    padding-bottom: 100px;
    width: 100%;
    height: 100vh;
}
.nav-bar{
    /* background-color:rgb(43, 38, 38); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: white; */
    height: 70px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 20px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content:center ;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.dot2 ul{
    list-style: none;
}
.part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.part1 a{
    padding: 0 .5rem;
}
.part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.part2 a{
    padding: 0 1rem;
}
.part3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.part3 a{
    padding: 0 1rem;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    height: 100%;
    width: 100vh;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3;
}
.dot2 ul li{
    margin: 0 10px;
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;

}

nav ul a{
   
    /* margin-left: 5px; */
    display: block;
    direction: none;
    /* padding: .5rem; */
    border: .1rem solid black ;
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
    border-radius: 50%;
    padding-bottom: 2px;
}
nav ul a .fa-solid{
    
    /* border: 1px solid red; */
}
.box-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    gap: 15px;
    /* flex-wrap: wrap; */
   /* width: 200px; */
    /* padding: 200px; */
    /* border: 1px solid red; */
    padding: 0 100px;
   
   

}
.box-container .box .card{
    /* padding:0 50px;
    border: 1px solid red;
     */
    
     background: #ffff;
     border-radius: 5px;
     /* text-align: center; */
     padding: 30px 20px;
    
    
}
.box .heading{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
}
.container .card{
    padding: 20px 5px;
    /* border: 1px solid purple; */
    border-radius: .3rem;
    width: 200px;
    background: white;
    border: 1px solid purple;
}
.card .card-container .dot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5rem ;
    /* padding-right: 2rem; */
    /* margin-right: 200px; */
    /* border: 1px solid red; */
    gap: 40px;

}
.card-container .para{
    line-height: 1.8;
}
.card .card-container .dot  #one{
    color: purple;
    background: rgb(235, 207, 235);
    /*  */
    border-radius: 1rem;
   
}
.card .card-container .dot p{
    padding:.1rem .5rem;
}

.card .card-container .dot #two{
    color: blue;
    border-radius: 1rem;
    background: rgb(215, 215, 247);
}
.card .card-container .dot #three{
    color: purple;
    border-radius: 1rem;
    background: rgb(235, 207, 235);
}
.card .card-container .dot #four{
    color: green;
    border-radius: 1rem;
    background: rgb(179, 236, 179);
}

